.holderrr {
    padding-bottom: 50vh;
}

.banner {
    position: relative;
    height: 40vh;
    color: white;
    font-size: 150px;
    text-align: center;
    padding: 0;
    overflow: hidden;
}

.profilediv {
    height: 30vh;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 2%;
}

.favscont {
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 2%;
}

.profiledata {
    background-color: rgb(67, 67, 67);
    height: 30vh;
}

h1 {
    color: #de2b73;
}

.profileicon {
    background-color: rgb(101, 100, 100);
    height: 30vh;
    padding-left: 3%;
    padding-right: 3%;
}

.profileimg {
    width: 100%;
    border-radius: 50%;
}

.profileimgbr {
    width: 100%;
    position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.title {
    color: #888888;
    margin: 0;
    padding: 5%;
    padding-bottom: 2%;
}

.datadiv {
    width: 90%;
    margin-left: 5%;
    padding-left: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: rgb(219, 219, 219);
}

.acpass {
    color: #888888;
    margin: 0;
    padding: 5%;
    padding-bottom: 2%;
    text-decoration: none;
}

.acpass:hover {
    color: #de2b73;
    cursor: pointer;
    height: 5%;
}

.keyicon {
    height: 10%;
}

.carfavhold {
    padding: 0;
}

.carfav {
    width: 100%;
}

.bannerform {
    position: absolute;
    font-size: 25px;
    bottom: 0;
}

.bannerimg {
    width: 100%;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: -2;
}

#file-input {
    display: none;
    overflow: hidden;
}

#file-input-label {
    font-size: 1em;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

#submit-input {
    display: none;
    overflow: hidden;
}

#submit-label {
    background-color: white;
    height: 40px;
    width: 40px;
    border-radius: 10px;
}