@font-face {
    font-family: 'Amsi Pro Condensed';
    src: local('Amsi Pro Condensed Bold'), local('Amsi-Pro-Condensed-Bold'),
        url('font/AmsiProCondensed-Bold.woff2') format('woff2'),
        url('font/AmsiProCondensed-Bold.woff') format('woff'),
        url('font/AmsiProCondensed-Bold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }

body {
    background-color: #2a2a2a;
    padding-bottom: 8vh;
    width: 100vw;
}

.bigimg {
    width: 100%;
    z-index: -1;
}

p {
    color: #fff;
}

.agoback {
    width: 200px;
    position: absolute;
    margin-left: 2vw;
    margin-top: 3vh;
    text-decoration: none;
    color: #f0f0f0;
    padding: 15px 30px 15px 30px;
    background-color: #de2b73;
    border-radius: 0px 20px 0px 20px;
    font-size: 25px;
    border-style: solid;
    border-width: 0px 9px 0px 0px;
    border-color: #25e0ed;
}

.agoback:hover {
    text-decoration: none;
    color: #f0f0f0;
}

.leftdivver {
    background-color: #2a2a2a;
}

.rightdivver {
    background-color: #2a2a2a;
}

.bottomdivver {
    height: 40vh;
    background-color: #2a2a2a;
}

.name {
    text-align: center;
    font-weight: 800;
    font-size: 3vw;
    padding: 10px;
}

.slider {
    float: left;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

.slidecontainer {
    background-color: #2a2a2a;
    border-style: solid;
    border-color: #de2b73;
    margin-top: 1%;
    width: 98%;
    height: 99%;
}

input[type="range"] {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none; 
    /*  slider progress trick  */
    overflow: hidden;
    border-radius: 16px;
    padding: 0;
  }
  
  /* Track: webkit browsers */
input[type="range"]::-webkit-slider-runnable-track {
    background: #f2f2f2;
} 

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 10px;
    width: 10px;
    cursor: pointer;
    background: #de2b73;
    box-shadow: -407px 0 0 400px rgb(222, 43, 115, 1);
}

#offroadslider {
    margin-bottom: 1%;
}

.namer {
    padding: 0;
    color: #f2f2f2;
    padding-left: 10%;
    margin-top: 10%;
}

.statr {
    padding: 0;
    color: #f2f2f2;
    margin-top: 10%;
    padding-left: 35%;
}

.specers {
    color: #f2f2f2;
    padding-left: 10%;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: -8%;
}

.infocontainer {
    border-style: solid;
    border-color: #de2b73;
    height: 100%;
}

.modelimg {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.tell {
    color: #f2f2f2;
    padding-left: 10%;
    font-size: 25px;
    padding-top: 3%;
    padding-bottom: 3%;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-width: 0.5px;
    border-color: #aeaeae;
    margin-left: 2%;
    margin-right: -2%;
}


.texts {
    color: #f2f2f2;
    text-align: right;
    padding-right: 10%;
    font-size: 25px;
    padding-top: 3%;
    padding-bottom: 3%;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-width: 0.5px;
    border-color: #aeaeae;
    margin-left: -2%;
    margin-right: 2%;
}

.pi {
    padding-top: 5%;
    padding-bottom: 5%;
}

.pimg {
    height: 100%;
    float: left;
    padding-left: 25%;
}

.pirate {
    padding-left: 5%;
    padding-right: 5%;
    border-style: solid;
    border-color: #ffc533;
    border-width: 2px;
    float: left;
    font-family: 'Amsi Pro Condensed';
    font-size: 40px;
    color: #3f2034;
    background-color: #f2f2f2;
    font-weight: 900;
}

.dtrain {
    padding-top: 5%;
    padding-bottom: 5%;
}

.dtraintext {
    color: #3f2034;
    float: left;
    background-color: #f2f2f2;
    font-weight: 900;
    font-size: 40px;
    margin-left: 15%;
}

.dimg {
    float: left;
    height: 94%;
}

.price {
    font-size: 50px;
    font-weight: 900;
    color: #3f2034;
    background-color: #fbdb3c;
    margin-left: 2.1%;
    width: 95.8%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    text-align: center;
}












