.form-container {
    background-image: url('https://images4.alphacoders.com/115/1151710.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* form {

} */